.s3r-upload-list {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  width: 75%;
}

.s3r-upload-list td {
  border-bottom: 1px solid #ccc;
  padding: .5em;
  width: 50%;
}

.s3r-file-url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}